<div class="page-container">
  <div class="background-animate">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="card w-600">
        <div class="p-40">
          <div class="d-flex  my-card">
            <img src="../../assets/IMG_5987.JPG" alt="" width="180" height="220">
            <div class="px-30 py-12 text-center"> 
              <h1>{{name}}</h1>
              <p>Software Engineer</p>
              <p class="mt-4">{{experience}}+ Years Of Experience</p>
              <div class="mt-20">
                <p>Currently Working At <a href="https://www.opentext.com/" target="_blank">Opentext</a></p>
              </div>
              <div class="d-flex align-items-center ">
                <div class="mt-20 d-flex align-items-center text-link">
                  <p class="cursor-pointer"><a routerLink="../aboutme">About Me</a></p>
                  <p class="icon-arrow">→</p>
                </div>
                <div class="mt-20 d-flex align-items-center text-link ml-20">
                  <p class="cursor-pointer"><a href="https://www.linkedin.com/" target="_blank">Linkedin</a></p>
                  <p class="icon-arrow">→</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>