<div class="page-container">
  <div class="background-animate">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="card w-600">
        <div class="p-40">
          <div class="d-flex  my-card">
            <img src="../../assets/DB402E48-1DDD-4ED3-B9AC-646983A24786.jpg" alt="" width="180" height="220">
            <div class="px-30 py-12"> 
              <h1>Manav Arora.</h1>
              <p>Frontend, Angular.</p>
              <div class="mt-20">
                <p>Current Work: <a href="https://www.keka.com/" target="_blank">@Keka Hr</a></p>
                <p class="mt-4">From: <span>Chandigarh, India</span></p>
              </div>
              <div class="d-flex align-items-center">
                <div class="mt-20 d-flex align-items-center text-link">
                  <p class="cursor-pointer"><a routerLink="../more">More</a></p>
                  <p class="icon-arrow">→</p>
                </div>
                <div class="mt-20 d-flex align-items-center text-link ml-20">
                  <p class="cursor-pointer"><a href="https://github.com/manav10799" target="_blank">Github</a>.</p>
                  <p class="icon-arrow">→</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>